In [1]:
import pandas_ta as ta

In [2]:
import pandas as pd
from datetime import datetime as dt

In [3]:
def timestamp_to_datetime(timestamp_series: pd.Series) -> list:
    datetimes = []
    for i in timestamp_series:
        ts = int(i)
        # Check if timestamp is in microseconds (usually more than 13 digits)
        if ts > 1e13:  
            ts = ts / 1_000_000  # Convert from microseconds
        else:
            ts = ts / 1_000  # Convert from milliseconds
        datetimes.append(dt.fromtimestamp(ts))
    return datetimes

In [4]:
btc = pd.read_csv('combined_BTC.csv').drop_duplicates().iloc[1:]
btc['Open time'] = timestamp_to_datetime(btc['Open time'])
btc['Close time']= timestamp_to_datetime(btc['Close time'])
# Convert columns to float
btc[['Open', 'High', 'Low', 'Close', 'Volume']] = btc[['Open', 'High', 'Low', 'Close', 'Volume']].apply(pd.to_numeric, errors='coerce')

In [5]:
btc = btc.sort_values('Open time')

In [7]:
eth = pd.read_csv('combined_eth.csv').drop_duplicates().iloc[1:]

In [8]:
eth['Open time'] = timestamp_to_datetime(eth['Open time'])
eth['Close time']= timestamp_to_datetime(eth['Close time'])
eth[['Open', 'High', 'Low', 'Close', 'Volume']] = eth[['Open', 'High', 'Low', 'Close', 'Volume']].apply(pd.to_numeric, errors='coerce')

In [118]:
eth = eth.sort_values('Open time')
eth['Close'] = eth.Close.astype(float)

In [11]:
btc['obv'] = ta.obv(btc.Close,btc.Volume)
btc_1 = btc[['Open time','Open','High','Low','Close','Volume','Number of trades','obv']]
btc_1

,Open time,Open,High,Low,Close,Volume,Number of trades,obv
3910,2020-01-01 07:00:00,7195.24,7196.25,7175.46,7177.02,511.814901,7640,5.118149e+02
3911,2020-01-01 08:00:00,7176.47,7230.00,7175.71,7216.27,883.052603,9033,1.394868e+03
3912,2020-01-01 09:00:00,7215.52,7244.87,7211.41,7242.85,655.156809,7466,2.050024e+03
3913,2020-01-01 10:00:00,7242.66,7245.00,7220.00,7225.01,783.724867,8337,1.266299e+03
3914,2020-01-01 11:00:00,7225.00,7230.00,7215.03,7217.27,467.812578,5896,7.984869e+02
...,...,...,...,...,...,...,...,...
47119,2025-03-01 02:00:00,84440.97,84810.35,84209.84,84449.99,1656.894460,360966,1.338287e+06
47120,2025-03-01 03:00:00,84450.00,84795.03,83600.00,84191.27,2215.505490,375390,1.336072e+06
47121,2025-03-01 04:00:00,84190.51,84596.00,84000.17,84258.37,862.301630,193870,1.336934e+06
47122,2025-03-01 05:00:00,84258.38,84481.14,83888.00,84149.98,650.296710,198315,1.336284e+06
47123,2025-03-01 06:00:00,84149.99,84548.43,84014.00,84349.94,598.135210,107789,1.336882e+06